nav{
    height: 70px;
    font-weight: 80px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,121,114,1) 0%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
}
p{
    font-family: 'Koulen', cursive;
    
    display: inline;
    font-size: 40px;
    text-align: center;
    width: 20%;
}
ul{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 20px;
    width: 80%;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}
.ing:pointer{
    transform: scale3d(1.5);
}

@media screen and (max-width:430px ) {
    nav{
        background-color: blueviolet;
    }
    
}

